body {
    text-align: center;
}

.heading {
    width: 100%;
    text-align: left;
}

.heading h3 {
    display: inline;
}

.heading h2 {
    text-align: center;
}

.heading h4 {
    background-color: #f5f5f5;
    line-height: 2;
    margin: 0px;
}

.heading button {
    border: 1px solid white;
}

.big_image {
    width: 100%;
}

#start,
#status {
    font-size: 22px;
}

.modal-dialog {
    width: 90%;
}

.instruction_image {
    display: inline-block;
    width: 45%;
}

#footer {
    background-color: lightgray;
}